body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navBar {
  background-color: #FFB4B0;
  width: 85%;
  margin: 20px auto 10px;
  height: 53px;
  border: black solid 2px;
}

.navBar li {
  list-style-type: none;
  display: inline-block;
  margin-top: 2px;
}

.navBar a {
  text-decoration: none; 
  color: blue;
}

.navBar .selected a {
  color: black;
}

.songSelection {
  /*position: relative;*/
  /*top: -100px;*/
  display: inline-block;
  background-color: #4DD7FA;
  width: 25%;
  border: black solid 2px;
  margin-left: 7.5%;
}

.songForm {
  display: inline-block;
  margin: 0;
}

/*.left {
  float: left;
  display: block;
}

.right {
  float: right;
  display: block;
}*/

.songs {
  display: inline-block;
  background-color: #FEFAC0;
  border: black solid 2px;
  width: 59%;
}

.songs h2 {
  color: #785616;
  font-weight: normal;
  font-size: 1.7em;
  padding-left: 10px;
}

.songStats li {
  display: inline-block;
  list-style-type: none;
}
