.navBar {
  background-color: #FFB4B0;
  width: 85%;
  margin: 20px auto 10px;
  height: 53px;
  border: black solid 2px;
}

.navBar li {
  list-style-type: none;
  display: inline-block;
  margin-top: 2px;
}

.navBar a {
  text-decoration: none; 
  color: blue;
}

.navBar .selected a {
  color: black;
}

.songSelection {
  background-color: #4DD7FA;
  width: 30%;
  border: black solid 2px;
  margin-left: 7.5%;
}

.left {
  float: left;
  display: block;
}

.right {
  float: right;
  display: block;
}

